body {
    background-image:url(Picsart_23-09-08_17-10-09-752\ \(1\).jpg) ;
    background-size: cover ;
  }
  h2 {
    color: rgb(222, 222, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 24px;
  }
  h3 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


  
  }
  p {
    color: rgb(248, 244, 244);
  }